.modal_container{

    /* position: absolute; */
    /* top: -50%; */
    /* left: 50%; */
    /* transform: translate(-50%, 50%); */
    width: clamp(300px, 60%, 650px);
    padding: 1.5rem 1rem;
    border: 1px solid #59CE8F30;
    border-radius: 5px;

}


.credentials_container{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.credentials_container input{
    background-color: #D9D9D940;
    outline-color: rgba(50, 205, 50, 0.4);
    border: none;
    padding: 0.8rem 1rem ;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-size: small;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
}
.input_wrapper{
    flex: 1;
    min-width: 20ch;

}

.credentials_container input::placeholder{
    color: #9B9B9B;
}

.submission_container{
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.submission_container input {
    border-radius: 8px;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    /* font-size: 0.9rem; */
    /* border: 2px solid #59CE8F; */
    box-shadow: 0 0 0 -2px #59CE8F30;
    /* padding: 0.5rem 1.1rem; */
    font-size: 1rem;
    /* width: calc(22ch); */
    /* letter-spacing: 2px; */
    font-weight: 800;
    /* width:  */
}
.submission_container input::placeholder{
    font-weight: normal;
    font-size: small;
    letter-spacing: 0px;

}

@media screen and (max-width: 800px) {
    .credentials_container{
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
    
    .input_wrapper{
        margin-top: 1rem;
    }
  }

.sign_in_by_google_container {
    width: 100%;
    margin: 2rem 0;
}
.sign_in_by_google_container ol {
    /* display: block; */
    padding: 0 0 0 26px;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    counter-reset: numList;
    margin-bottom: 2rem;
}
.sign_in_by_google_container ol li {
    margin-left: 44px;
    float: left;
    max-width: 350px;
    font-size: 0.85rem;
    position: relative
}
.sign_in_by_google_container ol li:before {
    counter-increment: numList;
    content: counter(numList);
    
    float: left;
    position: absolute;
    left: -26px;
    
    font: bold 12px 'Poppins';
    text-align: center;
    color: #fff;
    line-height: 18px;
    
    width: 18px; height: 18px;
    background: #59CE8F;
    
    -moz-border-radius: 999px;
    border-radius: 999px
}

.sign_in_by_google_container button{
    width: calc(3rem + 30px + 20ch);
    font-size: 0.85rem;
    border: 1px solid #c4c4c460;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 10px;
    padding: 0.5rem 1.1rem;
}